REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID:  HMcN1
Description: System allows calendar to be sorted by therapist
Type: Functional
Rationale: When signing up for a new appointment, only available appointments for the practicing therapist are important.  So the system should show available slots for each therapist separately.  
Originator: Carol
Comments: [Huge11- Hugh McNamara]

REQ-ID:  HMcN2
Description: The System should record new appointemnts into the system
Type: Functional
Rationale:  When the patient and receptionist agree on a avaliable slot, the receptionist should be able to immediatly book that time slot so that no other patients will be offered that appointment slot.  
Originator: Carol
Comments: [Huge11- Hugh McNamara]

REQ-ID: GA1
Description: The product shall accept the completed treatment record form.
Type: Functional
Rationale: to show what payment is due and how long it should be before the next appointment.
Originator: Carol and Neil
[GA- Gabriel Albino]

REQ-ID: MI1
Description: The product shall invoice the health insurer for the amount specified for the treatment, when triggered to do so.
Type: Functional
Rationale: The completed treatment form specifies if the treatment is covered by health insurance and ideally the invoicing process can be automated. 
Originator: Clinic owner (Neil) and Office Manager (Carol)  
Comments: [MI- Michael Irven] The actual trigger might be manual, or by interface depending on the "to be" scenario, which is yet to be well defined. 

REQ-ID: MI2
Description: The product shall allow the user to search for available appointments within a chosen timeframe, for a chosen therapist, therapy type and/or location.
Type: Functional
Rationale: After treatment, follow-up treatments may be suggested and these should be scheduled by agreement.
Originator: Clinic owner (Neil) and Office Manager (Carol)  
Comments: [MI- Michael Irven] The requirement does not specify who finds and schedules - it could be the receptionist or the patient (via web?) depending on the "to be" scenario, which is yet to be well defined. 

REQ-ID:CG1
Description: The product shall verify if the patient has an health insurance.
Type: Functional
Rationale: All new patients on their first visit at the clinic indicate on the registration form wether they are covered by an health insurance so that the invoice for their treatment can be directly issued to the insurance company. Otherwise, the patient can pay by himself.
Originator: Neil and Carol
[CG - Camilla Gison]

REQ-ID: MW2
Description: Ammend/[Edit] an appointment select type ‘no-shows’ from list (if the patient missed the appointment), at the Blossom Hill Clinic in the new appointments system
Type: Functional Requirement
Rationale: The appointment record is edited in the system and the type of appointment, such as 'no-shows', should be stored in the database.
Fit Criterion: The appointment missed in the appointments system should correlate with the record in the treatment record system.
Originator: Carol - the office manager.
Comments: [M814-MonicaWood] Functional Requirement 2 Q4a

REQ-ID: DC1
Description: It should not be possible to double-book a therapist’s schedule.
Type: Functional
Rationale: Therapists are only able to treat one patient in each scheduled time slot.
Originator: Carol – Office manager.
Comments: [DC-DanielColman]

REQ-ID: DC2
Description: It should not be possible to schedule appointments during lunch hours, unless manually overridden.
Type: Functional
Rationale: All therapists should remain available to have their lunch break at the same time.
Originator: Carol – Office manager.
Comments: [DC-DanielColman]

REQ-ID: PHF1	Type: Functional BUC: 1,2,5
Description: Locate patient details
Rationale: The patient details need to be accessed to record treatments, make appointments and generate invoices

Fit Criterion: 
1–Confirm Patient identity (Name, address)
2–Access patient details

Originator: Office Manager
Dependencies: None				Conflicts: None
Supporting Materials:  
History: Created P H Farrar 17/02/20 @ 11:30 PM AEDT

REQ-ID: PHF2	Type: Functional BUC: 4
Description: Patient Invoice sent to Health Insurer
Rationale: If the patient has a health insurance membership then the invoice can be sent directly to the Health insurer.

Fit Criterion: 
1–Establish connectivity with agreed communication protocols, and data representation protocols.
2-Confirm details are present as required by the Health insurer. (eg: Name, DOB, Health Insurer #, Amount Billed).
3–Send details to the Health Insurer and receive acknowledgement that the details have been received.
4–Update status of claim and patient record.

Originator: Office Manager
Dependencies: PHF1				Conflicts: None
Supporting Materials: Health insurance documentation detailing the process to make direct claims.
History: Created P H Farrar 17/02/20 @ 11:30 PM AEDT

REQ-ID: mcs482-1	Type: Functional 
Description: New Patient Registration
Rationale: A New Patient wishes to register with the Practice for Treatment

Fit Criterion: 
1. Capture detail of Private Health Insurer (conditional)
2. Capture GP/Doctor Practice Details (conditional)
3. Capture Payment Detail (for Private Billing/No-Show Fines) - Data must be Tokenised by Payment Acquiring Entity for future use (Card-on-File)
4. Capture Patients PII Data (Address, Cellphone/Mobile Telephone Number, Email Address) - PII Data must be segregated and Encrypted.

Originator: NEIL CARTER
Dependencies: 			Conflicts: None
Supporting Materials: Private Health Insurer details (if relevant); GP Details (if relevant)
History: Created M C Scott 20/02/20 @ 05:30 PM GMT

REQ-ID: mcs482-2	Type: Functional 
Description: Interface between Appointment Booking System and Account System
Rationale: Automatic generation of Private Health Insurer treatment invoices

Fit Criterion: 
1. Patient is covered with a linked Private Health Insurer
2. Patient Appointment WAS NOT a No-Show
3. Appointment is covered by PHI

Originator: NEIL CARTER
Dependencies: 			Conflicts: None
Supporting Materials: Private Health Insurer details 
History: Created M C Scott 20/02/20 @ 05:30 PM GMT
