REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID:  HMcN1
Description: System allows calendar to be sorted by therapist
Type: Functional
Rationale: When signing up for a new appointment, only available appointments for the practicing therapist are important.  So the system should show available slots for each therapist separately.  
Originator: Carol
Comments: [Huge11- Hugh McNamara]


REQ-ID:  HMcN2
Description: The System should record new appointemnts into the system
Type: Functional
Rationale:  When the patient and receptionist agree on a avaliable slot, the receptionist should be able to immediatly book that time slot so that no other patients will be offered that appointment slot.  
Originator: Carol
Comments: [Huge11- Hugh McNamara]

REQ-ID: GA1
Description: The product shall accept the completed treatment record form.
Type: Functional
Rationale: to show what payment is due and how long it should be before the next appointment.
Originator: Carol and Neil
[GA- Gabriel Albino]

REQ-ID:GA2
Description: The product shall collect the payment information
Type: Functional
Rationale: To be generated for the patient’s health insurer. 
Originator: Carol and Neil
[GA- Gabriel Albino]

REQ-ID: MI1
Description: The product shall invoice the health insurer for the amount specified for the treatment, when triggered to do so.
Type: Functional
Rationale: The completed treatment form specifies if the treatment is covered by health insurance and ideally the invoicing process can be automated. 
Originator: Clinic owner (Neil) and Office Manager (Carol)  
Comments: [MI- Michael Irven] The actual trigger might be manual, or by interface depending on the "to be" scenario, which is yet to be well defined. 

REQ-ID: MI2
Description: The product shall allow the user to search for available appointments within a chosen timeframe, for a chosen therapist, therapy type and/or location.
Type: Functional
Rationale: After treatment, follow-up treatments may be suggested and these should be scheduled by agreement.
Originator: Clinic owner (Neil) and Office Manager (Carol)  
Comments: [MI- Michael Irven] The requirement does not specify who finds and schedules - it could be the receptionist or the patient (via web?) depending on the "to be" scenario, which is yet to be well defined. 


REQ-ID:CG1
Description: The product shall verify if the patient has an health insurance.
Type: Functional
Rationale: All new patients on their first visit at the clinic indicate on the registration form wether they are covered by an health insurance so that the invoice for their treatment can be directly issued to the insurance company. Otherwise, the patient can pay by himself.
Originator: Neil and Carol
[CG - Camilla Gison]

REQ-ID:CG2
Description: The product shall produce a list of available slots for appointments for the selected therapist.
Type: Functional
Rationale: When scheduling for the next appointment, the receptionist must be able to provide a suitable date for the patient based on the date on the completed treatment record form that does not overlap with the schedule of the selected therapist.
Originator: Carol
[CG - Camilla Gison]

REQ-ID: MW1
Description: Book new/[Create new] appointment at the Blossom Hill Clinic in the new appointments system
Type: Functional Requirement
Rationale: The appointment should fit in the available time slot with the right therapist, and should be stored in the database.
Fit Criterion: The appointment created in the appointments system should correlate with the record in the treatment record system.
Originator: Carol - the office manager.
Comments: [M814-MonicaWood] Functional Requirement 1 Q4a


REQ-ID: MW2
Description: Ammend/[Edit] an appointment select type ‘no-shows’ from list (if the patient missed the appointment), at the Blossom Hill Clinic in the new appointments system
Type: Functional Requirement
Rationale: The appointment record is edited in the system and the type of appointment, such as 'no-shows', should be stored in the database.
Fit Criterion: The appointment missed in the appointments system should correlate with the record in the treatment record system.
Originator: Carol - the office manager.
Comments: [M814-MonicaWood] Functional Requirement 2 Q4a


REQ-ID: DC1
Description: It should not be possible to double-book a therapist’s schedule.
Type: Functional
Rationale: Therapists are only able to treat one patient in each scheduled time slot.
Originator: Carol – Office manager.
Comments: [DC-DanielColman]

REQ-ID: DC2
Description: It should not be possible to schedule appointments during lunch hours, unless manually overridden.
Type: Functional
Rationale: All therapists should remain available to have their lunch break at the same time.
Originator: Carol – Office manager.
Comments: [DC-DanielColman]


